<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class=" glyphicon glyphicon-home"></span> learning space
      </a>
    </div>

      <nav class="navbar navbar-inverse">
          <div class="container-fluid">

                  <a class="navbar-brand" href="#">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Page 1</a></li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
              </ul>
          </div>
      </nav>
        <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Login <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">signup</a></li>

          </ul>
    </div>
  </div>
</nav>
